@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');





.prestations-card1{
   
 
    width: 304px;
    height: 195px;
border-radius: 29px;
/* margin-right: 3%; */
/* margin-left: 4.5%; */
background:#CAAEFF ;
background-repeat: no-repeat;
background-size: cover;
}


.para1-card1-prestations{
 


    width: 100%;
    height: 79px;
    margin-top: 8%;
    
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    line-height: 130%;
    /* or 30px */
    text-align: right;
   padding-right: 12px;
    /* Dark Shade */
    color: #020202;

}
.prestations-card1-lien{
 
width: 79px;
height: 21px;

padding-right: 90px;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
color: #000000;
margin-top: 5%;
text-decoration: none;
}


.prestations-card2{
    background-repeat: repeat;

    width: 304px;
    height: 195px;
border-radius: 29px;
/* margin-right: 3%; */
margin-left: 4%;

background-size: cover;
background: #B5E6F7;
}


.prestations-card3{

    width: 304px;
    height: 195px;
background-repeat: repeat;
border-radius: 29px;
/* margin-right: 3%; */
margin-left: 4%;
background: #C3E6BD;
background-size: cover;

}
.prestations-card4{
    width: 304px;
    height: 195px;
background-repeat: repeat;
border-radius: 29px;
/* margin-right: 3%; */
margin-left: 4%;
background: #FFC6AC;
background-size: cover;

}

@media(max-width:1024px) {
    .para1-card1-prestations {
        font-size: 0.9rem;
    }
    
   
}


@media(max-width:768px) {
    .prestations-card1,
    .prestations-card2,
    .prestations-card3,
    .prestations-card4 {
        width: 30%; 
        height: auto; 
        margin: 1.5% 0; 
        background-repeat: no-repeat;
       
    }
    .para1-card1-prestations {
        font-size: 0.75rem;
        
    }
}

@media(min-width:768px) {
    .prestations-card1,
    .prestations-card2,
    .prestations-card3,
    .prestations-card4 {
       margin-left:0%;
       
    }
    .para1-card1-prestations {
        font-size: 0.9rem;
        
    }
}